

body { font-family:Verdana; font-size:14px; margin:0;}

#container {margin:0 auto; width:900px;}
#header { height:100px; background:#6cf; margin-bottom:5px;}
#mainContent { margin-bottom:5px;}
#areaside { float:left; width:200px; height:500px; background:#9ff;}
#contentside { float:right; width:695px; height:500px; background:#cff;}